.about-me-section {
  margin-top: 32px;
}

.promo__heading {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}

.promo__heading::after {
  content: '';
  position: absolute;
  z-index: -16;
  right: 40%;
  top: -4px;
  transform: skew(-30deg);
  width: 75%;
  height: 130%;
  border: 1px solid #ff0;
  background-color: #000;
}

.promo__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.promo__list-item {
  display: grid;
  grid-template-columns: 76px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  align-items: center;
  width: 90%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.8);
}

.promo__number {
  margin: 0 auto;
  font-size: 32px;
  font-style: oblique;
  color: #fff;
}

.promo__description {
  font-size: 16px;
  font-weight: 500;
}

.promo__addition {
  overflow: hidden;
  width: 70%; 
  margin: 24px auto 0;
  border-radius: 20px;
  box-shadow: 0px 0 40px 40px rgba(255, 255, 255, 0.15);
}

.promo__addition-paragraph {
  text-align: center;
  text-wrap: balance;
  /* width: 70%; */
  padding: 10px;
  font-size: 16px;
  font-family: monospace;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

.about-note {
  margin-top: 32px;
}

.about-note__heading {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}

.about-note__heading::after {
  content: '';
  position: absolute;
  z-index: -16;
  right: 40%;
  top: -4px;
  transform: skew(-30deg);
  width: 75%;
  height: 130%;
  border: 1px solid #ff0;
  background-color: #000;
}

.about-note__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 90%;
  margin: 32px auto 0;
  padding: 24px 12px;
  border: 1px solid #ff0;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.about-note__paragraph {
  text-align: justify;
  width: 90%;
  font-size: 16px;
  color: #fff;
}

.about-note__paragraph--yellow {
  color: #ff0;
}

.about-note__image {
  width: 90%;
}

@media screen and (min-width: 900px) {
  .about-note__container {
    flex-direction: row;
    padding: 24px;
  }

  .about-note__paragraph {
    order: 1;
  }

  .about-note__image {
    width: 50%;
    max-height: 152px;
  }
}

@media screen and (min-width: 1250px) {
  .about-me-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 172px;
  }

  .promo {
    width: 45%;
  }

  .promo__heading {
    font-size: 32px;
  }

  .promo__description {
    font-size: 18px;
  }

  .about-note {
    width: 45%;
    margin-top: 0;
  }

  .about-note__heading {
    font-size: 32px;
  }
}

@media screen and (min-width: 1400px) {
  .promo__heading {
    font-size: 36px;
  }

  .about-note__heading {
    font-size: 36px;
  }

  .about-note__paragraph {
    font-size: 20px;
  }
}
