* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.html--popup {
  overflow: unset;
}

.body--popup {
  overflow: hidden;
}

body {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #ff0;
  background: radial-gradient(circle at 24.1% 20.8%, rgb(20, 20, 20) 0%, rgb(0, 0, 0) 99.4%);
}

body * {
  animation: website-load 0.5s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff0;
}

@keyframes website-load {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
