* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.html--popup {
  overflow: unset;
}

.body--popup {
  overflow: hidden;
}

body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ff0;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

body * {
  animation: website-load 0.5s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff0;
}

@keyframes website-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  position: fixed;
  z-index: 32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 24px;
  background-color: rgba(32, 32, 32, 0.875);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: box-shadow 0.25s ease-in-out;
}
.header--sticky {
  box-shadow: 0 4px 2px -2px rgb(204, 204, 25);
}

.title__anchor {
  color: #ff0;
  text-decoration: none;
}
.title__heading {
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}
.title__heading:hover {
  color: #fff;
}

.hamburger {
  z-index: 48;
  margin: 0;
  padding: 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.hamburger__box {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 24px;
}
.hamburger__inner {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: background-color 0.25s ease-in-out;
}
.hamburger__inner::before, .hamburger__inner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: transform 0.45s ease-in-out;
}
.hamburger__inner::before {
  top: -10px;
}
.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}
.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(405deg);
}
.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(-405deg);
}

.navigation {
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 20px;
  opacity: 0.93;
  font-size: 40px;
  border-bottom-left-radius: 16px;
  background-color: #000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.navigation--active {
  transform: translateX(0);
}
.navigation__list {
  margin-top: 100px;
  list-style: none;
}
.navigation__list-item {
  text-align: center;
  width: 75%;
  margin: 20px auto;
  padding: 8px 0;
  border: 2px solid #ff0;
  border-radius: 8px;
  cursor: pointer;
}
.navigation__anchor {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

@media screen and (min-width: 330px) {
  .title__heading {
    font-size: 32px;
  }
}
@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .navigation {
    position: unset;
    background: none;
    transform: translateX(0);
    width: -moz-max-content;
    width: max-content;
    padding-bottom: 0;
    font-size: 16px;
  }
  .navigation__list {
    display: flex;
    flex-direction: row;
    gap: 54px;
    margin: 0;
  }
  .navigation__list-item {
    position: relative;
    width: -moz-max-content;
    width: max-content;
    margin: 0;
    padding: 0;
    border: none;
  }
  .navigation__list-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 4px;
    border-radius: 8px;
    background-color: #ff0;
    transition: width 0.3s ease-in-out;
  }
  .navigation__list-item:hover::after {
    width: 100%;
  }
  .navigation__anchor {
    color: #fff;
  }
}
@media screen and (min-width: 1150px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .title__heading {
    font-size: 36px;
  }
  .navigation {
    font-size: 20px;
  }
  .navigation__list {
    gap: 70px;
  }
}
@media screen and (min-width: 1300px) {
  .header {
    padding-left: 44px;
    padding-right: 44px;
  }
  .title__heading {
    font-size: 44px;
  }
}
.home-section {
  margin-top: 134px;
}

.home-image {
  position: relative;
  z-index: 16;
  display: block;
  width: 75%;
  margin: 0 auto;
  border-radius: 32%;
  background-color: rgba(255, 255, 255, 0.05);
}

.home-heading {
  text-align: center;
  margin-top: 32px;
  font-size: 24px;
}
.home-heading__text--secondary {
  color: #fff;
}

.home-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
  margin: 32px auto 0;
  border: 2px solid black;
  border-radius: 28px;
  box-shadow: 0 0 0 2px yellow;
}
.home-contact--left {
  padding: 8px;
  padding-right: 6px;
  background-color: #fff;
}
.home-contact--right {
  display: flex;
  gap: 12px;
  padding: 8px 15px 8px 10px;
  background-color: #000;
}
.home-contact__image {
  position: relative;
  height: 35px;
  transition: all 0.3s ease-in-out;
}
.home-contact__image:hover {
  transform: rotateY(720deg) scale(1.1);
}
.home-contact__image::before:hover {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #ff0;
  opacity: 0.3;
}

@media screen and (min-width: 700px) {
  .home-image {
    width: 50%;
  }
}
@media screen and (min-width: 1250px) {
  .home-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .home-image {
    margin: 0;
  }
}
@media screen and (min-width: 1400px) {
  .home-section {
    margin-top: 154px;
  }
  .home-image {
    width: 45%;
  }
  .home-heading {
    font-size: 32px;
  }
}
@media screen and (min-width: 1600px) {
  .home-image {
    width: 35%;
  }
  .home-heading {
    font-size: 40px;
  }
}
.about-me-section {
  margin-top: 32px;
}

.promo__heading {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}
.promo__heading::after {
  content: "";
  position: absolute;
  z-index: -16;
  right: 40%;
  top: -4px;
  transform: skew(-30deg);
  width: 75%;
  height: 130%;
  border: 1px solid #ff0;
  background-color: #000;
}
.promo__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}
.promo__list-item {
  display: grid;
  grid-template-columns: 76px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
  align-items: center;
  width: 90%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.8);
}
.promo__number {
  margin: 0 auto;
  font-size: 32px;
  font-style: oblique;
  color: #fff;
}
.promo__description {
  font-size: 16px;
  font-weight: 500;
}
.promo__addition {
  overflow: hidden;
  margin: 24px 10px 0;
  border-radius: 20px;
  box-shadow: 0px 0 40px 40px rgba(255, 255, 255, 0.15);
}
.promo__addition-paragraph {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: monospace;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

.about-note {
  margin-top: 32px;
}
.about-note__heading {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}
.about-note__heading::after {
  content: "";
  position: absolute;
  z-index: -16;
  right: 40%;
  top: -4px;
  transform: skew(-30deg);
  width: 75%;
  height: 130%;
  border: 1px solid #ff0;
  background-color: #000;
}
.about-note__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 90%;
  margin: 32px auto 0;
  padding: 24px 12px;
  border: 1px solid #ff0;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
.about-note__paragraph {
  text-align: justify;
  width: 90%;
  font-size: 16px;
  color: #fff;
}
.about-note__paragraph--yellow {
  color: #ff0;
}
.about-note__image {
  width: 90%;
}

@media screen and (min-width: 900px) {
  .about-note__container {
    flex-direction: row;
    padding: 24px;
  }
  .about-note__paragraph {
    order: 1;
  }
  .about-note__image {
    width: 50%;
    max-height: 152px;
  }
}
@media screen and (min-width: 1250px) {
  .about-me-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 172px;
  }
  .promo {
    width: 45%;
  }
  .promo__heading {
    font-size: 32px;
  }
  .promo__description {
    font-size: 18px;
  }
  .about-note {
    width: 45%;
    margin-top: 0;
  }
  .about-note__heading {
    font-size: 32px;
  }
}
@media screen and (min-width: 1400px) {
  .promo__heading {
    font-size: 36px;
  }
  .about-note__heading {
    font-size: 36px;
  }
  .about-note__paragraph {
    font-size: 20px;
  }
}
.projects-section {
  margin-top: 32px;
}
.projects-section__heading {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}
.projects-section__heading::after {
  content: "";
  position: absolute;
  z-index: -16;
  right: 40%;
  top: -4px;
  transform: skew(-30deg);
  width: 75%;
  height: 130%;
  border: 1px solid #ff0;
  background-color: #000;
}
.projects-section__cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 12px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.8);
}
.project-card__heading {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
}
.project-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
  list-style: none;
  margin-top: auto;
}
.project-card__list-item {
  padding: 4px;
  font-size: 14px;
  border-radius: 8px;
  color: #000;
  background-color: #ff0;
}
.project-card__button {
  display: block;
  margin: 16px auto 0;
  padding: 4px 8px;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 16px;
  color: white;
  background-color: #000;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.project-card__button:hover {
  color: #ff0;
  border: 1px solid #ff0;
  transform: scale(1.1);
}
.project-card__button:focus-visible {
  box-shadow: 0 0 2px 3px #ff0;
  transform: scale(1.1);
}

@media screen and (min-width: 700px) {
  .projects-section__cards {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
  .project-card {
    width: 30%;
    margin: 0;
  }
}
@media screen and (min-width: 1100px) {
  .project-card__heading {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .project-card__list-item {
    padding: 8px 16px;
    font-size: 20px;
  }
  .project-card__button {
    margin-top: 24px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1250px) {
  .projects-section {
    margin-top: 92px;
  }
  .projects-section__heading {
    font-size: 32px;
  }
  .project-card {
    width: 26%;
  }
}
@media screen and (min-width: 1400px) {
  .projects-section__heading {
    font-size: 36px;
  }
  .project-card {
    width: 24%;
  }
  .project-card__button {
    margin-top: 28px;
  }
}
.skills-section {
  margin-top: 40px;
}
.skills-section__heading {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}
.skills-section__heading::after {
  content: "";
  position: absolute;
  z-index: -16;
  right: 40%;
  top: -4px;
  transform: skew(-30deg);
  width: 75%;
  height: 130%;
  border: 1px solid #ff0;
  background-color: #000;
}
.skills-section__container {
  margin-top: 32px;
  padding: 24px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.15);
}

.advanced-skills {
  margin-bottom: 24px;
}
.advanced-skills__heading {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
}
.advanced-skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  list-style: none;
}
.advanced-skills__technology {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 45%;
  margin-top: 12px;
  padding: 12px 0;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  border: 1px solid #ff0;
  border-radius: 24px;
}
.advanced-skills__technology-image {
  width: 30px;
}
.advanced-skills__technology-name {
  color: #fff;
  font-size: 14px;
}
.advanced-skills__technology:first-child {
  width: 100%;
}

.intermediate-skills__heading {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
}
.intermediate-skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  list-style: none;
}
.intermediate-skills__technology {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 45%;
  margin-top: 12px;
  padding: 12px 0;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  border: 1px solid #ff0;
  border-radius: 24px;
}
.intermediate-skills__technology-image {
  width: 30px;
}
.intermediate-skills__technology-name {
  color: #fff;
  font-size: 14px;
}
.intermediate-skills__technology:nth-child(3) {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .skills-section {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-section__container {
    padding: 24px 48px;
  }
  .advanced-skills__heading {
    font-size: 24px;
  }
  .advanced-skills__list {
    gap: 4%;
  }
  .advanced-skills__technology {
    width: 48%;
  }
  .intermediate-skills__heading {
    font-size: 24px;
  }
  .intermediate-skills__list {
    gap: 4%;
  }
  .intermediate-skills__technology {
    width: 48%;
  }
}
@media screen and (min-width: 1250px) {
  .skills-section__heading {
    font-size: 32px;
  }
}
@media screen and (min-width: 1400px) {
  .skills-section__heading {
    font-size: 36px;
  }
}
.contact-section {
  margin: 40px 0;
  font-weight: 500;
}
.contact-section__heading {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}
.contact-section__heading::after {
  content: "";
  position: absolute;
  z-index: -16;
  right: 40%;
  top: -4px;
  transform: skew(-30deg);
  width: 75%;
  height: 130%;
  border: 1px solid #ff0;
  background-color: #000;
}
.contact-section__container {
  margin-top: 32px;
  padding: 16px 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
.contact-section__email {
  text-align: center;
  margin: 0 auto;
}
.contact-section__email-title {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.contact-section__email-anchor {
  padding: 12px 24px;
  font-size: 12px;
  border: 1px solid #ff0;
  border-radius: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.contact-section__email-anchor:hover {
  color: #ff0;
  background-color: #000;
}
.contact-section__email-anchor:focus-visible {
  box-shadow: 0 0 2px 4px #ff0;
}
.contact-section__divider {
  width: -moz-max-content;
  width: max-content;
  margin: 24px auto 8px;
  font-size: 15px;
  font-weight: 500;
  color: #ff0;
}
.contact-section__form-title {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 24px;
  font-size: 16px;
  color: #fff;
}

.contact-form {
  width: 80%;
  margin: 0 auto;
}
.contact-form__field {
  margin: 12px 0;
}
.contact-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}
.contact-form__input {
  width: 100%;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  background-color: #000;
}
.contact-form__button {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #ff0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact-form__button:hover {
  border: 1px solid #fff;
  color: #ff0;
  background-color: #000;
}
.contact-form__button:active {
  border: 1px solid #ff0;
  color: #ff0;
  background-color: #000;
}

@media screen and (min-width: 900px) {
  .contact-section {
    margin: 40px auto;
    width: 80%;
  }
  .contact-form {
    width: 65%;
  }
}
@media screen and (min-width: 1250px) {
  .contact-section__heading {
    font-size: 32px;
  }
  .contact-section__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contact-section__flex-element {
    width: 40%;
  }
  .contact-section__flex-element:nth-child(2) {
    width: 10%;
  }
  .contact-section__email {
    margin: 0;
  }
  .contact-section__email-title {
    font-size: 28px;
  }
  .contact-section__email-anchor {
    font-size: 20px;
  }
  .contact-section__divider {
    margin: 0 auto;
    font-size: 28px;
  }
  .contact-section__form-title {
    font-size: 28px;
  }
  .contact-form {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .contact-section__heading {
    font-size: 36px;
  }
}
.footer {
  text-align: center;
  width: 100%;
  padding: 16px 0;
  font-size: 12px;
  background-color: #000;
}
.footer__anchor {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 360px) {
  .footer {
    font-size: 16px;
  }
}
.popup {
  position: fixed;
  z-index: 64;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  animation: fadeIn 0.3s;
}
.popup--hidden {
  display: none;
}
.popup--fade-out {
  animation: fadeOut 0.3s both;
}
.popup__content {
  overflow-y: auto;
  width: 60%;
  height: calc(100vh - 200px);
  padding: 52px;
  border-radius: 32px;
  background: linear-gradient(60deg, rgba(85, 83, 83, 0.3), rgb(85, 83, 83));
}
.popup__title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 40px;
}
.popup__divider {
  margin-bottom: 24px;
}
.popup__heading {
  margin-bottom: 24px;
  font-size: 20px;
}
.popup__description {
  text-align: justify;
  margin-bottom: 24px;
  font-size: 16px;
}
.popup__technologies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin-bottom: 24px;
}
.popup__technologies-item {
  width: 30%;
  text-align: center;
  margin: 0 12px 12px;
  padding: 16px 0;
  font-size: 36px;
  border: 1px solid #ff0;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 36px;
}
.popup__link {
  width: 48%;
  text-align: center;
  margin-bottom: 12px;
  padding: 16px 32px;
  font-size: 36px;
  border: 2px solid #000;
  border-radius: 16px;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}
.popup__close-button {
  position: fixed;
  right: 64px;
  top: 32px;
  font-size: 128px;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
.popup__arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 128px;
  height: 128px;
  line-height: 128px;
  border: none;
  border-radius: 50%;
  font-size: 128px;
  cursor: pointer;
}
.popup__close-button, .popup__arrow-button {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.popup__close-button:hover, .popup__arrow-button:hover {
  opacity: 1;
}
.popup__arrow-button--left {
  left: 5%;
}
.popup__arrow-button--right {
  right: 5%;
}

@media screen and (max-width: 1250px) {
  .popup__content {
    width: 80%;
  }
  .popup__close-button {
    position: fixed;
    right: 32px;
    top: 16px;
    font-size: 64px;
    border: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
  }
  .popup__technologies-item {
    width: -moz-max-content;
    width: max-content;
    padding: 16px 32px;
  }
  .popup__link {
    width: -moz-max-content;
    width: max-content;
  }
  .popup__arrow-button {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 64px;
  }
  .popup__arrow-button--left {
    left: 2%;
  }
  .popup__arrow-button--right {
    right: 2%;
  }
}
@media screen and (max-width: 800px) {
  .popup__content {
    width: 95%;
    padding: 40px 20px;
  }
  .popup__title {
    font-size: 32px;
  }
  .popup__arrow-button {
    top: auto;
    bottom: 24px;
    transform: translate(0);
  }
}
@media screen and (max-width: 400px) {
  .popup__title {
    font-size: 24px;
  }
  .popup__heading {
    font-size: 16px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}